<!-- TEST handsontable -->

<link rel="stylesheet" media="screen" href="bower_components/handsontable/handsontable/dist/handsontable.full.css">


<style>
/*@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);*/
hr {
  height: 2px;
  margin-left: 15px;
  margin-top:25px;
  margin-bottom: 25px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

.box {


    line-height: 1.5;
    transform: translateY(-50%);
    perspective: 400px;
}

.source {
    color: skyblue;
    margin: 0 auto;
}
</style>
<script type="text/javascript">

var data = [
  ["", "Ford", "Volvo", "Toyota", "Honda"],
  ["2016", 10, 11, 12, 13],
  ["2017", 20, 11, 14, 13],
  ["2018", 30, 15, 12, 13]
];

var container = document.getElementById('table');
var hot = new Handsontable(container, {
  data: data,
  rowHeaders: true,
  colHeaders: true
});
</script>



<div class='well'>
  <h1 style="text-align:center;">HANaDSONTABLE POWAAAAAAAAAA BUNGA</h1>
  <hr class="hr-success" >
  <div class='row'>
  <div class="col-xs-4"></div>
  <div class="col-xs-4"><div id="table"></div> </div>
  <!-- <div class="col-xs-4">.col-sm-4</div> -->
   <!-- div class="col-xs-4">
  	<div class="col-xs-8">
  		<div id="example"></div> 
  	</div>
  </div> -->
</div>
 
